@import url("reset.css");
@import url("fonts.css");

@import url("modules/avatar.css");
@import url("modules/grid.css");
@import url("modules/header.css");
@import url("modules/menu.css");
@import url("modules/noticelist.css");
@import url("modules/actions.css");
@import url("modules/attachments.css");
@import url("modules/widgets.css");
@import url("modules/aside.css");
@import url("modules/forms.css");
@import url("modules/oldforms.css");

@import url("modules/happening.css");

body {
	color: black;
	font-family: sans-serif;
}
a, a:visited, a:active {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #424242;
}

#content > h2 {
	display: none;
}
/*#content.legacy > h2 {
	display: block;
	font-size: 2em;
	font-family: serif;
	margin: 1em 0;
}*/

nav.paging {
	clear: both;
	margin-bottom: 1ex;
    padding: 1ex 0 1em;
	text-align: center;
}
/* self-clearing bug */
#stream > ul > li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
nav .prev {
	float: left;
}
nav .current {
}
nav .next {
	float: right;
}

article > h2 {
	display: none;
}
