.notice .actions {
	opacity: 0.4;
	clear: both;
	text-align: right;
}
.notice:hover .actions {
	opacity: 1.0;
}

.actions fieldset {
    border: none;
}

.actions legend {
    display: none;
}
.actions h3 {
	display: none;
}

.actions form,
.actions input.submit,
.actions .action {
	background-color: transparent;
    border: 0;
	color: black;
	cursor:pointer;
    display: inline-block;
	overflow: hidden;
	vertical-align: middle;
	text-align: center;
    outline:none;
}
.actions input.submit,
.actions .action {
	font-family: FontAwesome;
	font-size: 1.25em;
	line-height: 1.25em;
	overflow: hidden;
	height: 1em;
    width: 1em;
}

.actions > ul > li {
	font-size: 2em;
	margin: 0.25ex;
}
.actions .entity_subscribe input,
.actions .entity_subscribe a {
	font-family: OpenWeb;
}

#profile .actions,
.profiles .actions {
	float: right;
}

/* colors */
.actions .form_entity_unflag input.submit:hover,
.actions .form_entity_flag input.submit,
.actions .form_user_unsubscribe input.submit:hover,
.actions .form_user_subscribe input.submit,
.notice .actions .form-train-ham .submit:hover,
.notice .actions form.form_disfavor input.submit:hover {
	color: black;
}

.actions .form_entity_flag input.submit:hover,
.actions .form_entity_unflag input.submit,
.notice .actions .form-train-spam .submit:hover,
.notice .actions .form-train-ham .submit,
.notice .actions .delete {
	color: #d00;
}
.notice .actions form.form_repeat input.submit {
	color: black;
}

.actions .form_user_subscribe input.submit:hover,
.actions .form_user_unsubscribe input.submit,
.notice .actions form.form_favor input.submit:hover,
.notice .actions form.form_disfavor input.submit,
.notice .actions .repeated,
.notice .actions form.form_repeat input.submit:hover,
.notice .actions .action.reply:hover {
	color: green;
}
