.notice .actions {
	position: absolute;
	right: 100%;
	top: 0;
	opacity: 0.4;
}
.notice:hover .actions {
	opacity: 1.0;
}

.actions fieldset {
    border: none;
}

.actions legend {
    display: none;
}
.actions h3 {
	display: none;
}

.actions input.submit,
.actions .action {
	background-color: transparent;
    border: 0;
	color: black;
	cursor:pointer;
    display: block;
	font-size: 1.25em;
	line-height: 1.25em;
	vertical-align: middle;
	text-align: center;
    outline:none;
	font-family: FontAwesome;
	margin: 0.25ex;
}
.actions input.submit,
.actions .action {
	height: 1em;
    width: 1em;
	overflow: hidden;
}
.notice .action {
}

.showprofile-action .notice .actions {
	right: 0;
	top: -1.5em;
}
.showprofile-action .notice .actions .action,
.showprofile-action .notice .actions input.submit,
.showprofile-action .notice .actions form {
	float: left;
}

#profile .actions input, #profile .actions .action {
	font-size: 2em;
}
.actions .entity_subscribe input {
	font-family: OpenWeb;
}

/* WHY U NO MARGIN??? */
#profile .actions:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.actions > ul > li {
	float: left;
}

/* colors */
.notice .actions .form-train-ham .submit:hover,
.notice .actions form.form_disfavor input.submit:hover {
	color: black;
}

.notice .actions .form-train-spam .submit:hover,
.notice .actions .form-train-ham .submit,
.notice .actions .delete {
	color: #d00;
}
.notice .actions form.form_repeat input.submit {
	color: black;
}

.notice .actions form.form_favor input.submit:hover,
.notice .actions form.form_disfavor input.submit,
.notice .actions .repeated,
.notice .actions form.form_repeat input.submit:hover,
.notice .actions .action.reply:hover {
	color: green;
}
