.notice .attachments {
	margin: 1em 0;
}
.notice .attachments h3 {
	font-variant: small-caps;
	display: none;
}

.link.attachment:before {
	content: 'ïƒ';
	font-family: FontAwesome;
}
.thumb.attachment, .link.attachment {
	margin: 1ex;
}
.thumb.attachment {
	float: left;
}
.notice .attachments h3 + .thumb.attachment,
.notice .attachments .thumb.attachment:first-child {
	clear: left;
}
