.form li {
	clear: both;
	padding: 1em 0;
	position: relative;
}
.form label, .form .form_guide {
	display: block;
	float: left;
	text-align: right;
	width: 40%;
	clear: left;
}
.form input, .form textarea, .form select {
	float: left;
	margin-left: 1em;
}
.form .form_guide {
	font-size: 1ex;
}
.form input, .form textarea {
}
