.form li {
	clear: both;
	padding: 1em 0;
	position: relative;
}
.notice .form label, .form .form_guide {
	display: block;
	float: left;
	text-align: right;
	width: 40%;
	clear: left;
}
.notice .form input, .form textarea, .form select {
	float: left;
	margin-left: 1em;
}
.notice .form .form_guide {
	font-size: 1ex;
}
.form input, .form textarea {
}

section.widget {
	margin-bottom: 1em;
	position: relative;
}


form.reply .notice_data-text,
#post textarea {
	margin: 1ex 1em 1ex 0;
	width: 75%;
	clear: both;
}
form.reply .attachments,
#post .attachments {
	clear: left;
	display: block;
}
textarea + .count {
	clear: both;
	float: right;
	margin-right: 25%;
}
form.reply input.submit,
#post input.submit {
	font-size:2em;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	width:20%;
}
form.reply input.submit {
	font-size: 1.5em;
}
#post legend {
	display: none;
}
