#wrapper {
	margin: 0 auto;
	width: 90%
}

#wrapper > * {
	margin-top: 1em;
}
#content {
	clear: both;
	float: left;
}
#content {
	width: 70%;
}
#content.single {
}
#content > aside {
	float: left;
	width: 30%;
}
#content > section {
	float: right;
	width: 70%;
}
#wrapper > aside {
	float: right;
	width: 30%;
}
