#wrapper {
	margin: 1em auto;
	padding: 0 1em;
	position: relative;
	max-width: 900px;
}

#wrapper > * {
	margin-top: 1em;
	position: relative;
}
#post {
	clear: both;
}
#content {
}
.settings-action #content {
	width: 70%;
}
#content.single {
	width: 100%;
	float: left;
}
#content > aside {
	float: left;
	width: 30%;
}
#content #profile + section,
#content #profile + #stream {
	float: right;
	margin-right: 3%;
	width: 64%;
}

.favorited-action #content .notice,
.public-action #content > .conversation {
	clear: none;
	margin: 1ex;
}
