#wrapper {
	margin: 2em auto;
	position: relative;
	max-width: 1100px;
}

#wrapper > * {
	margin-top: 1em;
	position: relative;
}
#post {
	clear: both;
}
#content {
}
.settings-action #content {
	width: 80%;
}
#content.single {
	width: auto;
	float: left;
}
#content > aside {
	float: left;
	width: 30%;
}
body.showprofile-action #content > section {
	float: right;
	width: 60%;
}

.favorited-action #content .notice,
.public-action #content > .conversation {
	clear: none;
	margin: 1ex;
}
