.conversations .conversation {
	font-size: 0.8em;
	float: left;
	width: 46%;
	margin: 0 1% 1em;
	padding: 0 1ex;
	border-radius: 1em;
	border-right: 1px solid gray;
}
.notices {
	display: block;
}

.conversation .notice {
	margin-left: 10%;
}
.conversation,
.conversation .notice:first-child,
.notice {
	background-color: #f0f0f0;
	background: -moz-linear-gradient(#ffffff, #f0f0f0);
	background: -o-linear-gradient(#ffffff, #f0f0f0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a)); /* older webkit syntax */
	background: -webkit-linear-gradient(#252525, #0a0a0a);
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
}
.conversation .notice {
	background-color: #fff;
}
/* WHY U NO MARGIN??? */
.notice:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.conversation .notice:first-child {
	border: none;
	font-size: 1em;
	margin-left: 0;
	margin-top: 1ex;
}
.conversation .notice.repeat .content:before {
	position: absolute;
	font-size: 2em;
	content: '\2672';
	top: -0.666em;
	right: 100%;
}

.notice .content {
	display: block;
	line-height: 1.25em;
	margin: 1ex 0;
	white-space: pre-wrap;
}


.notice, .profiles.list .list-item {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-radius: 1em;
	position: relative;
	margin: 1em 0;
	padding: 1ex 1ex 1em;
	clear: both;
}
.notice {
	padding: 1.5em 1ex 0;
}
.notice.spam {
	border: 2px solid red;
}
.notice .metadata {
	display: block;
	font-size: 0.75em;
	position: absolute;
	top: 1ex;
	left: 1ex;
}
.conversation .notice {
	margin-top: 1em;
}
.notice > * {
	text-align: left;
}
.notice .vcard.author {
	float: left;
	margin: 0 1ex 1ex 0;
	max-width: 30%;
	position: relative;
}
.vcard .photo {
	border-radius: 1ex;
	display: block;
	margin: 1ex auto;
	max-width: 100%;
}
.mini-list .vcard .photo {
	border-radius: 0;
	margin: 0;
}
.vcard.author .url:before {
	content: '';
	font-family: FontAwesome;
	margin: 0 1ex 0 0;
}
.notices .vcard.author .url {
	display: none;
}

.notice .source.device {
	display: none;
}

.notice .destination .recipient:after {
	content: ',';
}
.notice .destination .recipient:last-child:after {
	content: none;
}

.show-more a:before,
.show-more a:after {
	content: '---✂---';
	font-size: 1.5em;
	margin: 0 1ex;
}
.notice + .show-more {
	font-size: 0.75em;
	text-align: center;
}


.showstream-action #stream .notice {
}
.shownotice-action #stream .vcard.author {
	display: none;
}
/*.mentions-action #stream .notice .vcard.author,
.showstream-action #stream .repeat .vcard.author {
	display: block;
}*/
.notice .source.device {
	display: none;
}
