.public-action .conversations {
/*	column-count: 2;
	column-gap: 3em;
	-moz-column-count: 2;
	-moz-column-gap: 3em;
	-webkit-column-count: 2;
	-webkit-column-gap: 3em;*/
}
.conversations .conversation {
	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	margin: 1em 0;
}
.notices {
	display: block;
}

.conversation .notice {
	margin: 1em 1ex;
}
.conversation, .notice {
	background-color: #f0f0f0;
	background: -moz-linear-gradient(#ffffff, #f0f0f0);
	background: -o-linear-gradient(#ffffff, #f0f0f0);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f0f0f0)); /* older webkit syntax */
	background: -webkit-linear-gradient(#ffffff, #f0f0f0);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
}

.conversation, .notice {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-radius: 1em;
	position: relative;
	padding: 1ex 1ex;
	clear: both;
}
.conversation {
	padding-top: 0;
}
/* WHY U NO MARGIN??? */
.notice:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.conversation .notice:first-child {
	background: transparent;
	border: none;
	box-shadow: none;
	margin: 0;
}
.conversation .notice.repeat .content:before {
	position: absolute;
	font-size: 2em;
	content: '\2672';
	top: -0.666em;
	right: 100%;
}

.notice .content {
	display: block;
	line-height: 1.25em;
	margin: 1ex 0;
	white-space: pre-wrap;
}

.notice.spam {
	border: 2px solid red;
}
.notice header {
	display: block;
}
.notice .metadata {
	font-size: 0.75em;
	line-height: 1.1em;
}
.notice > * {
	text-align: left;
}
.notice .vcard.author {
	float: left;
	margin: 0 1ex 1ex 0;
	max-width: 30%;
	position: relative;
}
.vcard .photo {
	border-radius: 1ex;
	margin: 1ex auto;
	max-width: 100%;
}
.conversation .notice .vcard .photo {
	width: 64px;
}
.conversation .notice:first-child .vcard .photo {
	width: auto;
}
.mini-list .vcard .photo {
	border-radius: 0;
	margin: 0;
}
.vcard.author .url:before {
	content: '';
	font-family: FontAwesome;
	margin: 0 1ex 0 0;
}
.notices .vcard.author .url {
	display: none;
}

.notice .source.device {
	display: none;
}

.notice .destination .recipient:after {
	content: ',';
}
.notice .destination .recipient:last-child:after {
	content: none;
}

.show-more a:before,
.show-more a:after {
	content: '---✂---';
	font-size: 1.5em;
	margin: 0 1ex;
}
.notice + .show-more {
	font-size: 0.75em;
	text-align: center;
}


.notice-action #stream .vcard.author {
	display: none;
}
/*.mentions-action #stream .notice .vcard.author,
.showstream-action #stream .repeat .vcard.author {
	display: block;
}*/
.notice .source.device {
	display: none;
}
