.widget-title {
	clear:both;
}

.widget.not-found {
    display: none;
}

.widget.list {
	position:relative;
}
.widget.mini-list .list-item {
	padding: 0;
}
.profiles.mini-list .vcard {
	display: inline-block;
	position: relative;
}

.profiles.list .list-item {
	display: block;
}
.profiles.list .vcard .photo {
	float: right;
}

#favorites .notice {
	clear: none;
	float: left;
	margin: 0 1%;
	width: 48%;
}
.list.widget .list-more {
	clear: both;
    padding: 0 1%;
	text-align: right;
}
.vcard.mini .webfinger {
	float: right;
}
.vcard.mini .fn,
.widget.list .url .description,
.widget.list .notice > .vcard .fn {
	display: none;
	position: absolute;
	background: white;
	border: 1px solid;
	padding: 1ex 1em;
	white-space: nowrap;
}
.vcard.mini .fn {
	left: 24px;
	font-size: 12px;
	padding: 5px 1em;
	top: 0;
}
.widget.list .url .description,
.widget.list .notice > .vcard .fn {
	left: 0;
	top: 1ex;
}
.profiles.list .vcard:hover .fn {
	left: 0;
	top: 0;
}
.list.widget .url .description {
	right: 0;
}
#content .vcard.mini:hover .fn,
.widget.list .url:hover .description,
.widget.list .notice > .vcard:hover .fn {
    display: block;
	z-index: 9999;
}

.vcard .metadata {
	text-align: left;
}
.vcard .metadata dt {
	margin-top: 1ex;
	font-variant: small-caps;
}
.vcard .metadata dd {
	margin: 1ex 1em;
}
